:root {
    --fuente: 'Roboto', sans-serif;
    --colorFondo: #18191B;
    --colorBotones: #393A3C;
    --colorFondoElementos: #242527;
    --colorText: #FEFEFE;
    --grisClaro: #646567;
    --blanco: #ffffff;
    --negro: #000000;
    --azul: #0b1d4a;
    --azulClaro: #0C2461; 
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    background-color: var(--colorFondo);
}

/*Utilidades*/
/*===========================================================================*/
.container{
    max-width: 120rem;
    margin: 0 auto;
}
.no-margin{
    margin: 0;
}
.text-decoration{
    text-decoration: none;
}
.btn{
    padding: 1.5rem;
    background-color: var(--azul);
    border-radius: .5rem;
}

/*Globales*/
/*===========================================================================*/
*{
    font-family: var(--fuente);
}
h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--colorText);
}
h2{
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--colorText);
}
h3{
    font-size: 2rem;
    font-weight: bold;
    color: var(--colorText);
}
h4{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--colorText);
}
p{
    font-size: 1.6rem;
    font-weight: normal;
    color: var(--colorText);
}
a{
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--colorText);
}
li{
    color: var(--colorText);
    font-size: 1.6rem;
}

/*Navigation*/
/*===========================================================================*/

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.logo{
    font-weight: 300;
    font-size: 4rem;
    margin-top: 2.2rem;
}
.logo__bold{
    font-weight: 500;
}
.nav{
    display: flex;
    gap: 2.6rem;
    margin-top: 3rem;
}
.nav__btn{
    font-size: 1.8rem;
    transition: all 300ms ease-in;
}
.nav__btn:hover{
    position: relative;
    bottom: .3rem;
}
.nav-bg{
    background-color: var(--colorFondoElementos);
    height: 8rem;
    position: fixed;
    width: 100%;
    margin-top: -13rem;
}
.nav-container{
    height: 100%;
}
.nav{
    margin: 0;
}
.logo{
    margin: 0;
}


/*Footer*/
/*================================================================*/
.footer{
    margin-top: 2rem;
}
.footer-bg{
    background-color: var(--colorFondoElementos);
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.footer-icon-container{
    display: flex;
    gap: 3rem;
}
.footer__icon{
    font-size: 4rem;
    color: var(--colorText);
}

/*Certificados*/
/*==============================================================================*/
.title{
    text-align: center;
    margin: 13rem 0 5rem 0;
}
.grid-cert{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 10rem;
    justify-items: stretch;
}
.cert-bg{
    background-color: var(--colorFondoElementos);
    border-radius: 1rem;
    padding: 5rem 0;
}
.cert-title{
    text-align: center;
    margin-bottom: 5rem;
}
.cert-container{
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;
}
.cert__img{
    width: 100%;
    height: auto;
}

/*Autenticar*/
/*==============================================================================*/
.autenticar{
    background-color: var(--colorFondoElementos);
    border-radius: 1rem;
    padding: 5rem;
    height: 65rem;
    position: -webkit-sticky;
    position: sticky;
    top: 11rem;
}
.autenticar-title{
    text-align: center;
    margin-bottom: 5rem;
}
.autenticar-code{
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--grisClaro);
}
.list-container{
    margin-left: 2rem;
    margin-bottom: 4rem;
}
.code__title,
.google__title{
    margin-bottom: 2rem;
}
.code__info, 
.google__info{
    margin-bottom: 2rem;
}
.code__li,
.google__li{
    margin-bottom: 1rem;
}